.cardWrapper {
  display: flex;
  letter-spacing: 0.03em;
  padding: 30px;
  gap: 20px;
  line-height: 150%;
  background-color: white;
  overflow: initial;

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 20px;
    gap: 15px;
  }
}

.cardRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.donateTitle {
  font-weight: 450;
  font-size: 18px;
}

.donateTextBold {
  font-size: 1rem;
  font-weight: bold;
}

.donateText {
  font-size: 1rem;
}

/*=== progressBar CSS By David Porras ===*/

.progress {
  background-color: rgb(229,233,235);
  height: 1em;
  position: relative;
  width: 100%;
  border-radius: 1em;
}

.progressBarBlue {
  background-size: 23em 0.25em;
  height: 100%;
  position: relative;
  background-color: #2f1f49;
  border-radius: 1em;
}